{{!-- User will see this page once they signin --}}
 <div id="to-left">
               <p><a href="/views/index"> Home </a></p>
            </div>
<div>
  {{fname}} welcome to your profile page
   
   </div>

   <div class="dropdown">
  <button class="dropbtn">book cat room</button>
  <div class="dropdown-content">
    <a href="/views/standardroom">Standard Room</a>

    <a href="/views/vicroom">VIC Room</a>
  </div>
</div>

<div id="to-rightlogout" >
                  <a href="/logout">Logout</a> <span> | </span>
            </div>




{{#each result}}
        <div class="numberofcats">
            <h5>number of cats: {{this.number_of_cats}}</h5>
            </div>
         <div class="catsize">
            <h5>Cat size: {{this.catsize}}</h5>
            </div>   
         <div class="numberofnights">
            <h5>Number of nights: {{this.number_of_nights}}</h5>
            </div> 
         <div class="date">
            <h5>Date: {{this.date}}</h5>
            </div>
         <div class="phonenumber">
            <h5>Owner Phone number: {{this.phonenumber}}</h5>
            </div>
         <div class="owneraddress">
            <h5>Owner address: {{this.owneraddress}}</h5>
            </div>
<div><a href='/views/{{this._id}}/edit' class="btn btn-primary">Update booking</a></div>
<p></p>
         <form action="/views/{{this._id}}/delete" method="POST">
                <button class="btn btn-primary">Cancel booking</button>
   
{{/each}}

{{!-- <div class="row">
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Name: {{this.name}}</h5>
            <p class="card-text">Name: {{this.name}}</p>
            <p class="card-text">Propellers: {{this.propellers}}</p>
            <p class="card-text">Speed: {{this.maxSpeed}}</p>
            <a href='/drones/{{this._id}}/edit' class="btn btn-primary">Update Info</a>
            <form action="/drones/{{this._id}}/delete" method="POST">
                <button class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
</div> --}}

