 <nav><div id="to-left">
                     <a href="/"> Home </a>
                        </div>
                        <div id="to-rightlogout" >
                              <a href="/logout">Logout</a>
                        </div>
               <div class="dropdown">
                  <button class="dropbtn">book cat room</button>
                  <div class="dropdown-content">
                  <a href="/views/standardroom">Standard Room</a>

                  <a href="/views/vicroom">VIC Room</a>
                  </div>
               </div>
               </nav> 
 
 {{!-- <div class="prof"> --}}
            

<div class="profile"  id="profile">
               
               {{#each result}}
               
                     <div class="room">
                     <div class="room_type"> <b>Room type: </b> {{this.room_type}}
                     </div>

                  <div class="numberofcats">
                     <b>number of cats:</b> {{this.number_of_cats}}
                        </div>

                     <div class="catsize">
                        <b>Cat size:</b> {{this.catsize}}
                        </div>   
                     <div class="numberofnights">
                        <b>Number of nights:</b> {{this.number_of_nights}}
                        </div> 
                     <div class="date">
                        <b>Date:</b> {{this.date}}
                        </div>
                     <div class="phonenumber">
                        <b>Owner Phone number:</b> {{this.phonenumber}}
                        </div>
                     <div class="owneraddress">
                        <b>Owner address:</b> {{this.owneraddress}}
                        </div>

                     <div class="status">
                        <b>Status:</b> <i id="status2">{{this.status}}</i>
                        </div>
                        

            {{!-- <img src="/images/profilerm.jpg" alt="recption image" > --}}
            <div><a href='/user/{{this._id}}/edit' class="btn btn-primary">Update booking</a></div>
            
            </div>


            {{/each}}
            


</div>


{{!-- </div> --}}
