<div class="top-userrequests">
   <a href="/"> Home </a>
   <h1>list of clients' booking requests</h1>
</div>

<div class="userrequests">
   
    {{#each result}}
   <div class="inner-userrequests">
      <form action="/views/{{this._id}}/delete" method="POST">
         <div class="room_type"> 
            <h5>Room type: {{this.room_type}}</h5>
         </div>
         <div class="numberofcats">
            <h5>number of cats: {{this.number_of_cats}}</h5>
         </div>
         <div class="catsize">
            <h5>Cat size: {{this.catsize}}</h5>
         </div>
         <div class="numberofnights">
            <h5>Number of nights: {{this.number_of_nights}}</h5>
         </div>
         <div class="date">
            <h5>Date: {{this.date}}</h5>
         </div>
         <div class="phonenumber">
            <h5>Owner Phone number: {{this.phonenumber}}</h5>
         </div>
         <div class="owneraddress">
            <h5>Owner address: {{this.owneraddress}}</h5>
         </div>
         <div class="userrequests-btn">
            <a href='/views/{{this._id}}/edit' class="btn btn-primary">confirm client booking</a>
            <a href='/views/{{this._id}}/delete' class="btn btn-primary">Cancel client booking</a>
         </div>
      </form>
   </div>
   {{/each}}
</div>